parameters:
    secret_key: SecretToken
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     search
    database_user:     root
    database_password: ~

    BING_API_KEY:      W7yKGqr55HmKIw3RgxjULX++0sH38zAKiurKpzuFa8k