parameters:
    secret_key: SecretToken
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     search
    database_user:     root
    database_password: ~

    #GOOGLE SEARCH
    google_base_url:    https://www.googleapis.com/customsearch/v1
    google_api_key:     AIzaSyBa2R3pHwAlhWLxNFp7mGTDV-yke_WBMvQ
    google_search_id:   015873510809676834131:xlokwdku03o